* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #a8dadc;
  font-family: Verdana, sans-serif;
}

.buttons button {
  cursor: pointer;
  padding: 2% 3%;
  border: none;
  border-radius: 10px;
  background-color: #1d3557;
  color: #f1faee;
  font-weight: bold;
  margin: 10px auto;
  width: 30%;
}

button[type="reset"] {
  background-color: #e63946;
}

#form button:hover {
  opacity: 0.8;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  background-color: #f1faee;
  text-align: center;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #333;
  margin-top: 10px;
}

h1 {
  padding: 10px 0;
  color: #1d3557;
}

form#form {
  text-align: left;
  margin: 2% 5%;
  display: flex;
  flex-direction: column;
}

.container input {
  border-radius: 10px;
  border: none;
  padding: 10px 1%;
  background-color: #457b9d;
  color: #f1faee;
  text-align: center;
  font-weight: bold;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.results {
  font-size: 1.05rem;
  background-color: #1d3557;
  color: #f1faee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1% 0;
}

.results input {
  font-size: inherit;
}

.result{
  display: flex;
  margin-top: 20px;
 width: 100%;
  height: 250px;
  border-radius: 5px;
  font: italic 0.5rem serif;
  box-shadow: 0px 0px 10px black;
  background: #000;
  color: rgb(255,198,0);
  padding: 1% 0;
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
  user-select: none;
}
.result2{
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 550px;
  border-radius: 5px;
  font: italic 0.5rem serif;
  box-shadow: 0px 0px 10px black;
  background: #000;
  color: rgb(255,198,0);
  padding: 1% 0;
  box-sizing: border-box;
  user-select: none;
}